<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="quad">
  <link
    name="body">
    <inertial>
      <origin
        xyz="-0.24274123221814 -3.27515792264421E-15 -0.00153068608719894"
        rpy="0 0 0" />
      <mass
        value="0.688615038914901" />
      <inertia
        ixx="0.00106144141610142"
        ixy="-1.88187617217396E-17"
        ixz="2.63434309472515E-05"
        iyy="0.00245930184939966"
        iyz="3.83724461847574E-19"
        izz="0.00279308036475194" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quad/meshes/body.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quad/meshes/body.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="fl_thigh">
    <inertial>
      <origin
        xyz="0.139292819513475 0.00235319440952359 -3.05778189503558E-06"
        rpy="0 0 0" />
      <mass
        value="0.32829098650712" />
      <inertia
        ixx="0.000112047683322158"
        ixy="-1.62097882949948E-05"
        ixz="2.09839269866408E-08"
        iyy="0.000847860163744952"
        iyz="5.16343563254097E-10"
        izz="0.000753244083618434" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quad/meshes/fl_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quad/meshes/fl_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fl_hip_roll"
    type="revolute">
    <origin
      xyz="-0.221 0.11772 -0.00011829"
      rpy="0 0 0" />
    <parent
      link="body" />
    <child
      link="fl_thigh" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-12.56"
      upper="12.56"
      effort="10"
      velocity="250" />
  </joint>
  <link
    name="fl_calf">
    <inertial>
      <origin
        xyz="-2.72389110977933E-06 0.0780352358767984 -0.0778540126521884"
        rpy="0 0 0" />
      <mass
        value="0.369733221029888" />
      <inertia
        ixx="0.00111379811136972"
        ixy="4.53236441951089E-10"
        ixz="-2.08684607907161E-08"
        iyy="0.00120693430900378"
        iyz="8.6593836759732E-05"
        izz="0.00014562742132654" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quad/meshes/fl_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quad/meshes/fl_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fl_hip_pitch"
    type="revolute">
    <origin
      xyz="0.19925 -0.016 0"
      rpy="0 0 0" />
    <parent
      link="fl_thigh" />
    <child
      link="fl_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-12.56"
      upper="12.56"
      effort="10"
      velocity="250" />
  </joint>
  <link
    name="fl_foot">
    <inertial>
      <origin
        xyz="-0.00181810973272578 0.0514205807877518 -0.0990956880947122"
        rpy="0 0 0" />
      <mass
        value="0.113203575524731" />
      <inertia
        ixx="0.000259844925102448"
        ixy="-2.894491894864E-08"
        ixz="2.28109802667935E-06"
        iyy="0.000265395195240856"
        iyz="4.93150132283859E-06"
        izz="1.44096258097617E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quad/meshes/fl_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quad/meshes/fl_foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fl_knee_pitch"
    type="revolute">
    <origin
      xyz="0 0.063 -0.15625"
      rpy="0 0 0" />
    <parent
      link="fl_calf" />
    <child
      link="fl_foot" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-12.56"
      upper="12.56"
      effort="10"
      velocity="250" />
  </joint>
  <link
    name="fr_thigh">
    <inertial>
      <origin
        xyz="0.191292819513473 -0.00235319440951787 3.05778189584743E-06"
        rpy="0 0 0" />
      <mass
        value="0.32829098650712" />
      <inertia
        ixx="0.000112047683322157"
        ixy="1.6209788294974E-05"
        ixz="-2.09839269871765E-08"
        iyy="0.000847860163744955"
        iyz="5.16343563230795E-10"
        izz="0.000753244083618436" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quad/meshes/fr_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quad/meshes/fr_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fr_hip_roll"
    type="revolute">
    <origin
      xyz="-0.273 -0.11773 -0.00011829"
      rpy="0 0 0" />
    <parent
      link="body" />
    <child
      link="fr_thigh" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-12.56"
      upper="12.56"
      effort="10"
      velocity="250" />
  </joint>
  <link
    name="fr_calf">
    <inertial>
      <origin
        xyz="2.72389111038995E-06 -0.0780352358767985 -0.0778540126521883"
        rpy="0 0 0" />
      <mass
        value="0.369733221029888" />
      <inertia
        ixx="0.00111379811136972"
        ixy="4.53236441259584E-10"
        ixz="2.08684607912915E-08"
        iyy="0.00120693430900378"
        iyz="-8.6593836759733E-05"
        izz="0.00014562742132654" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quad/meshes/fr_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quad/meshes/fr_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fr_hip_pitch"
    type="revolute">
    <origin
      xyz="0.25125 0.016 0"
      rpy="0 0 0" />
    <parent
      link="fr_thigh" />
    <child
      link="fr_calf" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-12.56"
      upper="12.56"
      effort="10"
      velocity="250" />
  </joint>
  <link
    name="fr_foot">
    <inertial>
      <origin
        xyz="-0.00181810973272423 -0.0514205807877519 -0.0990956880947123"
        rpy="0 0 0" />
      <mass
        value="0.113203575524731" />
      <inertia
        ixx="0.000259844925102448"
        ixy="2.8944918948472E-08"
        ixz="2.28109802667948E-06"
        iyy="0.000265395195240856"
        iyz="-4.93150132283881E-06"
        izz="1.44096258097618E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quad/meshes/fr_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quad/meshes/fr_foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fr_knee_pitch"
    type="revolute">
    <origin
      xyz="0 -0.063 -0.15625"
      rpy="0 0 0" />
    <parent
      link="fr_calf" />
    <child
      link="fr_foot" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-12.56"
      upper="12.56"
      effort="10"
      velocity="250" />
  </joint>
  <link
    name="bl_thigh">
    <inertial>
      <origin
        xyz="-0.191292819513468 0.00235319440952116 3.05778189578498E-06"
        rpy="0 0 0" />
      <mass
        value="0.32829098650712" />
      <inertia
        ixx="0.000112047683322158"
        ixy="1.62097882949869E-05"
        ixz="2.09839269867002E-08"
        iyy="0.000847860163744955"
        iyz="-5.16343563282282E-10"
        izz="0.000753244083618436" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quad/meshes/bl_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quad/meshes/bl_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="bl_hip_roll"
    type="revolute">
    <origin
      xyz="-0.295 0.11772 -0.00011829"
      rpy="0 0 0" />
    <parent
      link="body" />
    <child
      link="bl_thigh" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-12.56"
      upper="12.56"
      effort="10"
      velocity="250" />
  </joint>
  <link
    name="bl_calf">
    <inertial>
      <origin
        xyz="-2.72389110872462E-06 0.0780352358767985 -0.0778540126521883"
        rpy="0 0 0" />
      <mass
        value="0.369733221029887" />
      <inertia
        ixx="0.00111379811136972"
        ixy="4.53236442868701E-10"
        ixz="-2.08684607895255E-08"
        iyy="0.00120693430900378"
        iyz="8.65938367597322E-05"
        izz="0.00014562742132654" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quad/meshes/bl_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quad/meshes/bl_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="bl_hip_pitch"
    type="revolute">
    <origin
      xyz="-0.25125 -0.016 0"
      rpy="0 0 0" />
    <parent
      link="bl_thigh" />
    <child
      link="bl_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-12.56"
      upper="12.56"
      effort="10"
      velocity="250" />
  </joint>
  <link
    name="bl_foot">
    <inertial>
      <origin
        xyz="0.00181810973272573 0.0514205807877518 -0.0990956880947122"
        rpy="0 0 0" />
      <mass
        value="0.113203575524731" />
      <inertia
        ixx="0.000259844925102449"
        ixy="2.89449189485479E-08"
        ixz="-2.28109802667791E-06"
        iyy="0.000265395195240856"
        iyz="4.93150132283863E-06"
        izz="1.44096258097618E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quad/meshes/bl_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quad/meshes/bl_foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="bl_knee_pitch"
    type="revolute">
    <origin
      xyz="0 0.063 -0.15625"
      rpy="0 0 0" />
    <parent
      link="bl_calf" />
    <child
      link="bl_foot" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-12.56"
      upper="12.56"
      effort="10"
      velocity="250" />
  </joint>
  <link
    name="br_thigh">
    <inertial>
      <origin
        xyz="-0.139292819513466 -0.00235319440952225 -3.05778189514661E-06"
        rpy="0 0 0" />
      <mass
        value="0.32829098650712" />
      <inertia
        ixx="0.000112047683322158"
        ixy="-1.62097882949918E-05"
        ixz="-2.09839269872017E-08"
        iyy="0.000847860163744955"
        iyz="-5.16343563311297E-10"
        izz="0.000753244083618437" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quad/meshes/br_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quad/meshes/br_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="br_hip_roll"
    type="revolute">
    <origin
      xyz="-0.347 -0.11773 -0.00011829"
      rpy="0 0 0" />
    <parent
      link="body" />
    <child
      link="br_thigh" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-12.56"
      upper="12.56"
      effort="10"
      velocity="250" />
  </joint>
  <link
    name="br_calf">
    <inertial>
      <origin
        xyz="2.72389110933524E-06 -0.0780352358767985 -0.0778540126521882"
        rpy="0 0 0" />
      <mass
        value="0.369733221029887" />
      <inertia
        ixx="0.00111379811136972"
        ixy="4.5323644226411E-10"
        ixz="2.08684607901771E-08"
        iyy="0.00120693430900378"
        iyz="-8.65938367597331E-05"
        izz="0.00014562742132654" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quad/meshes/br_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quad/meshes/br_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="br_hip_pitch"
    type="revolute">
    <origin
      xyz="-0.19925 0.016 0"
      rpy="0 0 0" />
    <parent
      link="br_thigh" />
    <child
      link="br_calf" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-12.56"
      upper="12.56"
      effort="10"
      velocity="250" />
  </joint>
  <link
    name="br_foot">
    <inertial>
      <origin
        xyz="0.00181810973272534 -0.051420580787752 -0.0990956880947121"
        rpy="0 0 0" />
      <mass
        value="0.113203575524731" />
      <inertia
        ixx="0.000259844925102448"
        ixy="-2.89449189486287E-08"
        ixz="-2.28109802667956E-06"
        iyy="0.000265395195240856"
        iyz="-4.93150132283883E-06"
        izz="1.44096258097618E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quad/meshes/br_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quad/meshes/br_foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="br_knee_pitch"
    type="revolute">
    <origin
      xyz="0 -0.063 -0.15625"
      rpy="0 0 0" />
    <parent
      link="br_calf" />
    <child
      link="br_foot" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-12.56"
      upper="12.56"
      effort="10"
      velocity="250" />
  </joint>
</robot>